PORT=


EMAIL=
PASSWORD=
NOTIFICATION_EMAILS=
RESEND_API_KEY=


FIREBASE_APIKEY=
FIREBASE_AUTHDOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGEBUCKET=
FIREBASE_MESSAGINGSENDERID=
FIREBASE_APPID=
FIREBASE_MEASUREMENTID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=